<div class="banner-bootom-w3-agileits">
    <div class="container">
        <!--728x90-->
        <div class="col-md-4 single-right-left ">
            <div class="grid images_3_of_2">
                <div class="flexslider">
                    <div class="clearfix"></div>
                    <div class="flex-viewport">
                      <img ng-src="/{{auction.img_name}}" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 single-right-left simpleCart_shelfItem">
            <h3 ng-bind="auction.title"></h3>
            <p><span class="item_price" ng-bind="(auction.minimum_price | currency:$)"></span></p>
            <p><i class="fa fa-map-marker"></i><span ng-bind="auction.location"></span></p>
            <div class="description">
                <h5>Place your bids</h5>
                <form ng-submit="addBid()">
                    <input type="email" placeholder="Enter email" ng-model="email" required>
                    <input type="text" value="Enter email" ng-model="amount" required>
                    <button class="btn btn-default image-preview-clear" type="ng-submit">Place Bid</button>
                </form>
            </div>
        </div>
        <div class="clearfix"> </div>
        <div class="responsive_tabs_agileits">
            <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                <ul class="resp-tabs-list">
                    <li class="resp-tab-item {{descactive}}" aria-controls="tab_item-0" ng-click="showTab('description')">Description</li>
                    <li class="resp-tab-item {{otheractive}}" aria-controls="tab_item-0" ng-click="showTab('information')">Other Information</li>
                </ul>
                <div class="resp-tabs-container">
                    <div class="tab1 resp-tab-content" ng-show="curtab=='description'">
                        <div class="single_page_agile_its_w3ls">
                            <p class="w3ls_para" ng-bind="auction.description"></p>
                        </div>
                    </div>
                    <div class="tab2 resp-tab-content" ng-show="curtab=='information'">
                        <div class="single_page_agile_its_w3ls">
                            <div class="bootstrap-tab-text-gridss">
                                <div class="bootstrap-tab-text-grid-left">
                                    <img src="{{auction.owner.image}}" alt=" " class="img-responsive">
                                </div>
                                <div class="bootstrap-tab-text-grid-right">
                                    <p class="w3ls_para">
                                        <span>Owner Name : {{auction.owner.name}}</span><br>
                                        <span>Owner Email : {{auction.owner.email}}</span><br>
                                        <span>Auction will be run from <span class="date">{{auction.start_date|date:'EEE d MMM yyyy h:m a'}}</span> to <span class="date">{{auction.end_date|date:'EEE d MMM yyyy h:m a'}}</span></span><br>
                                        <span ng-bind="avail"></span>
                                    </p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- More from User-->
        <div class="w3_agile_latest_arrivals" ng-show="(bids | count) > 0">
            <h4 class="wthree_text_info">More <span>Biddinng</span></h4>
            <div class="single_page_agile_its_w3ls">
                <div class="bootstrap-tab-text-grids">
                    <div class="bootstrap-tab-text-grid" ng-repeat="bid in bids">
                        <div class="bootstrap-tab-text-grid-left">
                            <img src="https://png.icons8.com/android/800/user.png" alt=" " class="bid_icon">
                        </div>
                        <div class="bootstrap-tab-text-grid-right">
                            <p class="w3ls_para">
                                <span>{{bid.email}} has placed bid for amount {{bid.bid_amount|currency:$}}</span><br>
                                <span>On : <span class="date">{{bid.createdAt|date:'EEE d MMM yyyy h:m a'}}</span></span><br>
                            </p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>